* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat, sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Backgroun);
  background-size: cover;
  background-position: center;
  position: relative;
}
header:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(219, 216, 216, 0);
}
header .content {
  position: relative;
  z-index: 1;
}
header .content h1 {
  color: #00fb00;
  font-size: 28px;
  font-weight: 900;
}
header .content h1 span {
  font-weight: 400;
}
@media screen and (min-width: 480px) {
  header .content h1 {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  header .content h1 {
    font-size: 42px;
  }
}
@media screen and (min-width: 1024px) {
  header .content h1 {
    font-size: 56px;
  }
}
@media screen and (min-width: 1280px) {
  header .content h1 {
    font-size: 72px;
  }
}
header .content h2 {
  color: #ff0000;
  font-size: 42px;
  font-weight: 900;
  margin: 30px 0px;
}
@media screen and (min-width: 480px) {
  header .content h2 {
    font-size: 56px;
  }
}
@media screen and (min-width: 768px) {
  header .content h2 {
    font-size: 72px;
  }
}
@media screen and (min-width: 1024px) {
  header .content h2 {
    font-size: 96px;
  }
}
@media screen and (min-width: 1280px) {
  header .content h2 {
    font-size: 128px;
  }
}
header .content .countdown {
  color: #11ff00;
  font-size: 50px;
  font-weight: 500;
}
@media screen and (min-width: 480px) {
  header .content .countdown {
    font-size: 42px;
  }
}
@media screen and (min-width: 768px) {
  header .content .countdown {
    font-size: 56px;
  }
}
@media screen and (min-width: 1024px) {
  header .content .countdown {
    font-size: 72px;
  }
}
@media screen and (min-width: 1280px) {
  header .content .countdown {
    font-size: 88px;
  }
}
.LOGO {
  width: 300px;
  height: 200px;
  background-image: url(LG_community.png);
  background-size: 200%;
  background-position: no-repet;
  background-position: center left;
}
header .content h3 {
  color: #fb0101;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}
body{
  width: 100%;
  height:100%;
  position:relative;
  overflow:hidden;
  background: 
    linear-gradient(
      rgba(240, 240, 240, 0.7), 
      rgb(248, 248, 248)
    ),
    rgb(247, 246, 246) url('https://images.unsplash.com/photo-1439723680580-bfd9d28ef9b6?crop=entropy&fit=crop&fm=jpg&h=950&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925') 50% 50% no-repeat;
   //background: 
     linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
     rgba(220, 220, 220, 1) url('https://images.unsplash.com/photo-1449157291145-7efd050a4d0e?crop=entropy&fit=crop&fm=jpg&h=950&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925') 50% 50% no-repeat;
  //background-blend-mode: exclusion;
  background-blend-mode: luminosity;
  
}
.container{
position: absolute;
display: flex;
justify-content:flex-end;
height: 20vh;
position: relative;
align-items: flex-end;
    transform: translate(-50%, -50%);
}
.btn {
    margin-top: calc(50% + 25px);
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing: 0.045em;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
    //stroke: #EC0033;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn span{
  background: rgb(243, 243, 243);
  background: -moz-linear-gradient(left,  rgb(254, 254, 254) 0%, rgb(0, 255, 8) 100%);
  background: -webkit-linear-gradient(left,  rgb(255, 255, 255) 0%,rgb(0, 245, 8) 100%);
  background: linear-gradient(to right,  rgb(255, 255, 255) 0%,rgb(0, 249, 4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}
.back-video{
  position: absolute;
  right: 0%;
  bottom: 0;
  z-index: ;
}